<script type="text/javascript">

    $(function () {
        var settimmer = 0;
        var start = false;

        $("#wrap").show();
        $(".murgi").live('click', function(){
            start = true
        })
        window.setInterval(function () {
            if (start == true) {
            var timeCounter = parseInt($("b#show-time").html())
            if (parseInt(timeCounter) >= -1) {

                var updateTime = eval(timeCounter) - eval(1);
                $("b#show-time").html(updateTime)

                if (updateTime < 1) {
                    $("b#show-time").html('0')
                }

                if (updateTime == 0) {
                    alert("Times Up!")
                    window.location = ("/facebook/to_invite")
                }
            }
            }
        }, 1000);

    });
</script>
<div id="my-timer">
  Time remaining: <b id="show-time">20</b> seconds
</div>

<script type="text/javascript">
  $(document).ready(function(){
      var request = $.ajax({
          url: "/facebook/link1",
          type: "get",
          dataType: "text",
          success: function(msg){
              status = msg
          }
  });
  })
</script>

<div id="wrap" style="display: none;">

<div class="corner">
  <%= image_tag("corner_image.png") %>
</div>
<!--end of corner-->

<div class="header_third">

</div>
<!--end of header-->


<style type="text/css">
    form.trash {
        width: 50px;
    }

    .murgi {
        width: 40px;
        float: left;
        height: 30px;
        padding: 2px;
    }

</style>

<script type="text/javascript">
    $(document).ready(function () {
        $(".trash").live('click', function () {
            $(this).hide();
            $(this).show(3000);

        })
    })
</script>


<div class="third_content">
<div class="third_header" style="margin-left: 10px; width: 480px ;!important">
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="12"/>
    <input type="image" src="<%= image_path("imagef.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="20"/>
    <input type="image" src="<%= image_path("imagec.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="-25"/>
    <input type="image" src="<%= image_path("imageq.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="-25"/>
    <input type="image" src="<%= image_path("imagep.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="40"/>
    <input type="image" src="<%= image_path("imagea.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="30"/>
    <input type="image" src="<%= image_path("imageb.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="35"/>
    <input type="image" src="<%= image_path("imaged.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="10"/>
    <input type="image" src="<%= image_path("imagee.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="-25"/>
    <input type="image" src="<%= image_path("imagep.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="15"/>
    <input type="image" src="<%= image_path("imagej.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="30"/>
    <input type="image" src="<%= image_path("imageh.png") %>" name="imagew"/>
  </form>
</div>


<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="25"/>
    <input type="image" src="<%= image_path("imagem.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="-5"/>
    <input type="image" src="<%= image_path("imagep.png") %>" name="imagew"/>
  </form>
</div>
<br> <br>

<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="15"/>
    <input type="image" src="<%= image_path("imageg.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="30"/>
    <input type="image" src="<%= image_path("imageh.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="30"/>
    <input type="image" src="<%= image_path("imageb.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="25"/>
    <input type="image" src="<%= image_path("imagem.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="1"/>
    <input type="image" src="<%= image_path("imageo.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="10"/>
    <input type="image" src="<%= image_path("image.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="40"/>
    <input type="image" src="<%= image_path("imagea.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="30"/>
    <input type="image" src="<%= image_path("imageb.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="20"/>
    <input type="image" src="<%= image_path("imagec.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="25"/>
    <input type="image" src="<%= image_path("imagep.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="10"/>
    <input type="image" src="<%= image_path("imagee.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="10"/>
    <input type="image" src="<%= image_path("image.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="40"/>
    <input type="image" src="<%= image_path("imagea.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="30"/>
    <input type="image" src="<%= image_path("imageb.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="20"/>
    <input type="image" src="<%= image_path("imagec.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="35"/>
    <input type="image" src="<%= image_path("imaged.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="10"/>
    <input type="image" src="<%= image_path("imagee.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="35"/>
    <input type="image" src="<%= image_path("imagef.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="15"/>
    <input type="image" src="<%= image_path("imagej.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="-25"/>
    <input type="image" src="<%= image_path("imagep.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="1"/>
    <input type="image" src="<%= image_path("imagei.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="-25"/>
    <input type="image" src="<%= image_path("imagep.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="-25"/>
    <input type="image" src="<%= image_path("imageq.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="15"/>
    <input type="image" src="<%= image_path("imagej.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="40"/>
    <input type="image" src="<%= image_path("imagea.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="30"/>
    <input type="image" src="<%= image_path("imageb.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="20"/>
    <input type="image" src="<%= image_path("imagec.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="35"/>
    <input type="image" src="<%= image_path("imagel.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="10"/>
    <input type="image" src="<%= image_path("imagee.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="35"/>
    <input type="image" src="<%= image_path("imagef.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="-25"/>
    <input type="image" src="<%= image_path("imageq.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="30"/>
    <input type="image" src="<%= image_path("imageh.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="1"/>
    <input type="image" src="<%= image_path("imagen.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="-25"/>
    <input type="image" src="<%= image_path("imageq.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="1"/>
    <input type="image" src="<%= image_path("imageo.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="10"/>
    <input type="image" src="<%= image_path("image.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="40"/>
    <input type="image" src="<%= image_path("imagea.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="1"/>
    <input type="image" src="<%= image_path("imagen.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="20"/>
    <input type="image" src="<%= image_path("imagec.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="35"/>
    <input type="image" src="<%= image_path("imagel.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="10"/>
    <input type="image" src="<%= image_path("imagee.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="35"/>
    <input type="image" src="<%= image_path("imagef.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="10"/>
    <input type="image" src="<%= image_path("imagee.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="30"/>
    <input type="image" src="<%= image_path("imageh.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="1"/>
    <input type="image" src="<%= image_path("imagen.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="25"/>
    <input type="image" src="<%= image_path("imagem.png") %>" name="imagew"/>
  </form>
</div>
<div class="murgi">
  <form class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="-25"/>
    <input type="image" src="<%= image_path("imagep.png") %>" name="imagew"/>
  </form>
</div>
</div>


</div>
<!--end of content-->
<div class="clear" style="clear:both; height: 60px;"></div>

<div class="footer">
</div>
<!--end of logo-->
<div class="clear" style="clear:both"></div>
</div><!--end of wrap-->














