<div id="my-timer">
  Page Will Redirect with in <b id="show-time">20</b> seconds
</div>



<div id="wrap">

  <div class="corner">
    <%=image_tag("corner_image.png")%>
  </div><!--end of corner-->

  <div class="header_third">

  </div><!--end of header-->


  <style type="text/css">
      form.trash{
          width: auto;
          float: left;
      }
  </style>

  <div class="third_content" >
    <div class="third_header" style="width: 100%;">
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagek.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagec.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagei.png")%>" name="imagew" />
      </form></div>

      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("image.png")%>" name="imagew" />
      </form>    <br> <br> <br> <br>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagea.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imageb.png")%>" name="imagew" />
      </form><form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imaged.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagee.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagef.png")%>" name="imagew" />
      </form><form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagej.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imageh.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagem.png")%>" name="imagew" />
      </form><form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagef.png")%>" name="imagew" />
      </form> <br> <br>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imageg.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imageh.png")%>" name="imagew" />
      </form><form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imageb.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagem.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imageo.png")%>" name="imagew" />
      </form><form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("image.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagea.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imageb.png")%>" name="imagew" />
      </form><form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagec.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagel.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagee.png")%>" name="imagew" />
      </form><form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("image.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagea.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imageb.png")%>" name="imagew" />
      </form><form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagec.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imaged.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagee.png")%>" name="imagew" />
      </form><form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagef.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagej.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imageh.png")%>" name="imagew" />
      </form><form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagei.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagem.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagek.png")%>" name="imagew" />
      </form><form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagej.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagea.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imageb.png")%>" name="imagew" />
      </form><form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagec.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagel.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagee.png")%>" name="imagew" />
      </form><form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagef.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imageg.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imageh.png")%>" name="imagew" />
      </form><form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagen.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imagem.png")%>" name="imagew" />
      </form>
      <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("imageo.png")%>" name="imagew" />
      </form><form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <input type="image" src="<%=image_path("image.png")%>" name="imagew" />
      </form>
    <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
      <input type="hidden" name="point" value="1"/>
      <input type="image" src="<%=image_path("imagea.png")%>" name="imagew" />
    </form><form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="1"/>
    <input type="image" src="<%=image_path("imagen.png")%>" name="imagew" />
  </form>
    <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
      <input type="hidden" name="point" value="1"/>
      <input type="image" src="<%=image_path("imagec.png")%>" name="imagew" />
    </form><form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
    <input type="hidden" name="point" value="1"/>
    <input type="image" src="<%=image_path("imagel.png")%>" name="imagew" />
  </form>

    <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
      <input type="hidden" name="point" value="1"/>
      <input type="image" src="<%=image_path("imagee.png")%>" name="imagew" />
    </form><form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
      <input type="hidden" name="point" value="1"/>
      <input type="image" src="<%=image_path("imagef.png")%>" name="imagew" />
    </form>

    <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
      <input type="hidden" name="point" value="1"/>
      <input type="image" src="<%=image_path("imagee.png")%>" name="imagew" />
    </form><form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
      <input type="hidden" name="point" value="1"/>
      <input type="image" src="<%=image_path("imageh.png")%>" name="imagew" />
    </form>

    <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
      <input type="hidden" name="point" value="1"/>
      <input type="image" src="<%=image_path("imagen.png")%>" name="imagew" />
    </form><form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
      <input type="hidden" name="point" value="1"/>
      <input type="image" src="<%=image_path("imagem.png")%>" name="imagew" />
    </form>
    <form  class="trash" data-remote="true" method="post" action="<%= facebook_point_path %>">
      <input type="hidden" name="point" value="1"/>
      <input type="image" src="<%=image_path("imageo.png")%>" name="imagew" />
 </form>


  </div><!--end of content-->
  <div class="clear" style="clear:both"></div>

  <div class="logo">
    <div class="time_count"><p class="auto_count"><b>20</b></p></div><!--end of time_count-->
  </div><!--end of logo-->
  <div class="clear" style="clear:both"></div>
</div><!--end of wrap-->
</body>














