<div id="my-timer">
  Page Will Redirect with in <b id="show-time">20</b> seconds
</div>

<div id="wrap">

  <div class="corner">
     <%=image_tag("corner_image.png")%>
  </div><!--end of corner-->

  <div class="header_third">

  </div><!--end of header-->

  <div class="third_content">
    <div class="third_header">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" value="1" class="tb"><%= image_tag('imagek.png') %></button>
      </form>
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" value="1" class="tb"><%= image_tag('imagec.png') %></button>
      </form>
      <a href="#"><img src="images/imagec.png"></a>
      <a href="#"><img src="images/imagei.png"></a>

    </div><!--end of third_header-->

    <a href="#"><img src="images/image.png"></a>
    <a href="#"><img src="images/imagea.png"></a>
    <a href="#"><img src="images/imageb.png"></a>

    <a href="#"><img src="images/imaged.png"></a>
    <a href="#"><img src="images/imagee.png"></a>
    <a href="#"><img src="images/imagef.png"></a>
    <a href="#"><img src="images/imagej.png"></a>

    <a href="#"><img src="images/imageh.png"></a>

    <a href="#"><img src="images/imagem.png"></a>







    <a href="#"><img src="images/imagef.png"></a>
    <a href="#"><img src="images/imageg.png"></a>
    <a href="#"><img src="images/imageh.png"></a>
    <a href="#"><img src="images/imagen.png"></a>
    <a href="#"><img src="images/imagem.png"></a>
    <a href="#"><img src="images/imageo.png"></a>
    <a href="#"><img src="images/image.png"></a>
    <a href="#"><img src="images/imagea.png"></a>
    <a href="#"><img src="images/imageb.png"></a>
    <a href="#"><img src="images/imagec.png"></a>
    <a href="#"><img src="images/imagel.png"></a>
    <a href="#"><img src="images/imagee.png"></a>





    <a href="#"><img src="images/image.png"></a>
    <a href="#"><img src="images/imagea.png"></a>
    <a href="#"><img src="images/imageb.png"></a>
    <a href="#"><img src="images/imagec.png"></a>
    <a href="#"><img src="images/imaged.png"></a>
    <a href="#"><img src="images/imagee.png"></a>
    <a href="#"><img src="images/imagef.png"></a>
    <a href="#"><img src="images/imagej.png"></a>
    <a href="#"><img src="images/imageh.png"></a>
    <a href="#"><img src="images/imagei.png"></a>
    <a href="#"><img src="images/imagem.png"></a>
    <a href="#"><img src="images/imagek.png"></a>





    <a href="#"><img src="images/image.png"></a>
    <a href="#"><img src="images/imagea.png"></a>
    <a href="#"><img src="images/imageb.png"></a>
    <a href="#"><img src="images/imagec.png"></a>
    <a href="#"><img src="images/imagel.png"></a>
    <a href="#"><img src="images/imagee.png"></a>
    <a href="#"><img src="images/imagef.png"></a>
    <a href="#"><img src="images/imageg.png"></a>
    <a href="#"><img src="images/imageh.png"></a>
    <a href="#"><img src="images/imagen.png"></a>
    <a href="#"><img src="images/imagem.png"></a>
    <a href="#"><img src="images/imageo.png"></a>






    <a href="#"><img src="images/image.png"></a>
    <a href="#"><img src="images/imagea.png"></a>
    <a href="#"><img src="images/imagen.png"></a>
    <a href="#"><img src="images/imagec.png"></a>
    <a href="#"><img src="images/imagel.png"></a>
    <a href="#"><img src="images/imagee.png"></a>
    <a href="#"><img src="images/imagef.png"></a>
    <a href="#"><img src="images/imageg.png"></a>
    <a href="#"><img src="images/imageh.png"></a>
    <a href="#"><img src="images/imageb.png"></a>
    <a href="#"><img src="images/imagem.png"></a>
    <a href="#"><img src="images/imageo.png"></a>

  </div><!--end of content-->


  <div class="logo">
    <div class="time_count"><p class="auto_count"><b>20</b></p></div><!--end of time_count-->
  </div><!--end of logo-->

</div><!--end of wrap-->


