<div id="wrap">
  <div class="content">
    <div class="trash">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" value="1" class="tb"><%= image_tag('banana.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('Blue_bottle.png') %></button>
      </form>
    </div>
    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('Bottle_green_Crunched.png') %></button>
      </form>
    </div>
    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('box1.png') %></button>
      </form>
    </div>
    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('Can-green.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('Can-red-trash.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('Can-Red_asto.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('paper_cracked.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('Plastic_bag.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('poly_crap.png') %></button>
      </form>

    </div>
    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('white+green-object.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('Yellow-object.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('Plastic_bag.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('poly_crap.png') %></button>
      </form>

    </div>
    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('white+green-object.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('Can-red-trash.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('Can-Red_asto.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('paper_cracked.png') %></button>
      </form>
    </div>


    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('white+green-object.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('Can-red-trash.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('Can-Red_asto.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('paper_cracked.png') %></button>
      </form>
    </div><div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('paper_cracked.png') %></button>
      </form>
    </div>


    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('white+green-object.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('Can-red-trash.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('Can-Red_asto.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('paper_cracked.png') %></button>
      </form>
    </div><div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('paper_cracked.png') %></button>
      </form>
    </div>


    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('white+green-object.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('Can-red-trash.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('Can-Red_asto.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('paper_cracked.png') %></button>
      </form>
    </div><div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('paper_cracked.png') %></button>
      </form>
    </div>


    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('white+green-object.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('Can-red-trash.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('Can-Red_asto.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('paper_cracked.png') %></button>
      </form>
    </div><div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('paper_cracked.png') %></button>
      </form>
    </div>


    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('white+green-object.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('Can-red-trash.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('Can-Red_asto.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('paper_cracked.png') %></button>
      </form>
    </div><div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('paper_cracked.png') %></button>
      </form>
    </div>


    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('white+green-object.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('Can-red-trash.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('Can-Red_asto.png') %></button>
      </form>
    </div>

    <div class="trash roughness-<%= rand(7) %>">
      <form data-remote="true" method="post" action="<%= facebook_point_path %>">
        <input type="hidden" name="point" value="1"/>
        <button type="submit" class="tb"><%= image_tag('paper_cracked.png') %></button>
      </form>
    </div>


  </div>
  <!--end of wrap-->

</div>


