<style type="text/css">
  .part{width: 500px; float: left; height: auto;}
   table tr td{
       border: 1px solid  #0081c2; padding: 10px;
   }
</style>
<div class="part">
<center>
  <h2>Rank</h2>
  <table>
   <tr>
     <td>Rank</td>
     <td>Name</td>
     <td>Point</td>
   </tr>
  <% @users.each_with_index do |user, i|  %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= user.name %></td>
      <td><%= user.point %></td>
    </tr>
  <% end %>
  </table>
</center>
</div>

<div class="part">
<center>
  <table>
    <h2>By Last Attampt</h2>
   <tr>
     <td>Rank</td>
     <td>Name</td>
     <td>Point</td>
     <td>Last Attempt</td>
     <td>total click</td>
   </tr>
  <% @users_a.each_with_index do |user, i|  %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= user.name %></td>
      <td><%= user.point %></td>
      <td><%= time_ago_in_words(user.updated_at) %></td>
      <td><%= user.total_click %></td>
    </tr>
  <% end %>
  </table>
</center>
</div>