<div id="wrap">

  <div class="corner">
    <%=image_tag("corner_image.png")%>
  </div><!--end of corner-->

  <div class="header">

  </div><!--end of header-->

  <div class="second_content">
    <%=image_tag("second_content.png")%>
  </div><!--end of content-->

  <div class="rules" onclick="$('#rules').slideToggle(2000); $('#next-btn').slideUp(2200).delay(2200).fadeIn(1400);" ><a href="#"><%=image_tag("rules.png")%></a>
  </div>

  <div id="rules" style="display: none; width: 400px; margin: auto;">
        <%= image_tag 'rules_list.png' %>
  </div>

  <div class="footer">
    <div class="next" id="next-btn" style="display: none;"><a href="/facebook/clean"><%=image_tag("start_game.png")%></a></div>
  </div><!--end of logo-->

</div><!--end of wrap-->

