<div class="details_box_wrapper">
      <%= form_for(@user, :url => facebook_facebook_update_user_information_path, :method => :post) do |f| %>
          <div class="quiz-part" id="basic_information">
            <div id="collapseOne" class="" style="height: auto; ">
              <div class="details-box-quiz">
                <%= f.hidden_field :id, :value => @user.id %>
                <%= f.hidden_field :uid, :value => @user.uid %>
                <div class="colorful_area colorful_area_1">
                  <% [ 'Tamim Iqbal', 'Shakib Al Hasan', 'Mushfiqur Rahim', 'Nasir Hossain' ].each do |theme| %>
                      <%= f.radio_button :brand_ambassador, theme, :class => 'str' %>
                      <%= theme %>
                  <% end %>
                </div>
                <div class="clear1"></div>
                <div class="colorful_area colorful_area_2">
                  <%= f.text_area :why_best, :rows => 4, :class => 'str', :style => "resize: none;!important" %>
                </div>
              </div>
            </div>
          </div>
          <div id="next_button" style="float: right; margin-right: 120px; margin-top: 10px;">
            <input type="image" name="user[action]" value="next"  SRC="<%= image_path('next.png') %>"  border="0" ALT="Submit Form" class="sm_btn">
          </div>
      <% end %>
    </div>
<script type="text/javascript">
    $("#user_last_purchasing_date").datepicker();
</script>
<script type="text/javascript">
    $(".sm_btn").live('click', function(){
        if (check_empty_field() == true)
        {
            alert("Please fill all the field");
            return false;
        }
        else
        {
            $(this).form.submit();
        }
    })
    function check_empty_field()
    {
        var empty = false;
        $('input.rqr').each(function(i, field){
            if (field.value.length < 1)
            {
                empty = true
            }

        });

         if ($('textarea.str').val().length < 1)
         {
             empty = true;
         }

        return empty;

    }
</script>
