<!DOCTYPE html>
<html>
<head>
  <title>Clean Bangladesh</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35476073-1']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  </script>
</head>
<body>

<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<% if current_user %>
<script type="text/javascript">

</script>
<style type="text/css">
    body{
        font-family: axiata_book_bookregular;!important
    }

</style>
<% end %>
<div id="total" style="">
<% if true  %>
    <p id="status" style="display: none">true</p>
      <div class="clear" style="clear: both;"></div>
    <%= yield %>
<% else %>
      <p id="status" style="display: none">false</p>
      <div id="wrap">

        <div class="corner">
          <img src="<%= image_path 'corner_image.png' %>" />
        </div><!--end of corner-->
        <div id="like" style="padding: 10px;!important">
          <%=image_tag("like.png")%>
        </div>
        <div class="header">
          <img src="<%= image_path 'first_header.png' %>" />
        </div><!--end of header-->

        <div class="content">
          <img src="<%= image_path 'first_content.png' %>" />
        </div><!--end of content-->

        <div class="footer">

        </div><!--end of logo-->

      </div><!--end of wrap-->
<% end %>
</div>
</body>
</html>
